@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.nav-bar {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 2rem;
  margin: 0 2rem
}

.Logo img {
  width: 80%;
  max-width: 20rem;
}

.nav-list ul {
  display: flex;
  gap: 4rem;
}

.nav-item {
  list-style: none;
  align-items: center;
}

.nav-item ul {
  display: flex;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-link:hover {
  background: #FFF;
  border-radius: 5px;
  color: #000A63;
  padding: 5px;
}

.cart-login-buttons {
  display: flex;
  gap: 1rem;
}

.cart-login-buttons svg {
  cursor: pointer;
  fill: #FFF;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
    height: 1.5rem;
    padding: 1.4rem;
    margin: 0;
  }
  
  .Logo img {
    width: 100%;
    max-width: 14rem;

  }
  .nav-item {
    display: none;
    
  }
  .cart-login-buttons {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
  }
  .mobile-menu-icon svg {
    fill: #FFF;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

}
