#header {
  box-sizing: border-box;
  margin: auto;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000A63;
  width: 70%;
}

a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-login {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.icons-header{
  font-size: 28px;
  fill: #fff;
  cursor: pointer
}

#bar-menu{
  display: none;
}

.social-medias-header a {
    color: white;
    cursor: pointer; 
}

.social-medias-header{
  display: flex;
  position: absolute;
  right: 0;
  padding: 2em;
  z-index: 10;
  gap: 0.2rem;
}


.social-medias-header svg {
  cursor: pointer;
  font-size: 25px;
  padding: 0.3rem;
  border-radius: 9999px;
}

.social-medias-header svg:hover {
  color: white;
  background:  rgba(255, 255, 255, 0.2);
}


@media screen and (max-width: 767px) {
  #header {
    box-sizing: border-box;
    margin: auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000A63;
    width: 90%;
  }

  #logo {
    font-size: 1rem;
    font-weight: bold;
  }

  .cart-login {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.icons-header{
  font-size: 24px;
  fill: #fff;
  cursor: pointer
}

.icons-header#profile-icon {
  display: none;
}

#bar-menu{
  display: flex;
}

.social-medias-header{
  display: none;
}

}