.conteudo {
    width: 100%;
    max-width: 1400px;

    background-color: white;
    border-radius: 10px;

    margin: 2rem auto;
    padding: 0rem ;
}

.conteudo .teste {
    padding: 1rem;  
}

div.teste {
    border-radius: 10px;
}

